body {
    margin: 0
}

.Header {
    position: relative;
    background: #ffffff;
    border: 1px solid black;
    z-index: 11
}

.Header,.Header * {
    box-sizing: border-box;
    outline: 0;
    font-family: Rubik,sans-serif
}

.Header__content {
    display: flex;
    align-items: center;
    height: 60px
}

.Header__logo {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1%;
    padding-right: 1%;
    width: 20%;
}

.Header__search {
    margin-top: 0;
    max-width:inherit;
    width: 40%;
    padding-left: 1%;
    padding-right: 1%;
}

.Search__textBox {
    text-align: center;
    justify-content: center;
}

.Search__content {
    color: #333;
    display: flex;
    position: relative;
    font-family: Rubik
}

.Search__content input {
    padding: 10px 50px 10px 8px;
    padding-right: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    border-radius: 18px;
}

.Search__content img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.Header__options {
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    width: 40%;
}

.Header__cart {
    padding-left: 1%;
    padding-right: 1%;
}

.Header__user {
    padding-left: 1%;
    padding-right: 1%;
}