body {
    margin: 0
}

.Header {
    position: relative;
    background: #ffffff;
    border: 1px solid black;
    z-index: 11
}

.Header,.Header * {
    box-sizing: border-box;
    outline: 0;
    font-family: Rubik,sans-serif
}

.Header__content {
    display: flex;
    align-items: center;
    height: 60px
}

.Header__logo {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: auto
}

.Header__search {
    margin-top: 0;
    max-width:inherit;
    width:40%;
}

.Header__options {
    display: flex;
    top: -15px;
    width: 100%;
    z-index: 5;
    position: relative;
}

.Search {
    color: #333;
    margin-top: 10px;
}

.Search,.Search * {
    box-sizing: border-box;
    font-family: Rubik
}

.Search__content {
    top: -15px;
    width: 100%;
    z-index: 5;
}

.Search__textBox {
    display: flex;
    position: relative;
}

.Search__content input {
    padding: 5px 40px 5px 8px;
    padding-right: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 85%;
}

.Search__content img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}